.nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-right: 80px;
  padding-top: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
